<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h3>{{title}}</h3>
        </div>
    </div>
</nav>
<div class="ui text container">
    <div class="ui segment from">
        <div class="ui fluid action input">
            <input type="text" class="ui form-control" name="title" placeholder="what need to do?" (keyup.enter)="addTodo(titleInput.value); titleInput.value = ''" #titleInput>
            <button class="ui primary button" (click)="addTodo(titleInput.value); titleInput.value = '' ">Add</button>
        </div>
    </div>

    <todo-list [todos]="todos"></todo-list>
</div>